@font-face {
  font-family: 'AvertaLight';
  src: url("~/Fonts/averta-light.woff") format('woff');
}
@font-face {
  font-family: 'Averta';
  src: url("~/Fonts/averta-regular.woff") format('woff');
}
@font-face {
  font-family: 'AvertaSemiBold';
  src: url("~/Fonts/averta-semibold.woff") format('woff');
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("~/Fonts/glyphicons-halflings-regular.woff") format('woff'), url("~/Fonts/glyphicons-halflings-regular.svg") format('svg');
}
@font-face {
  font-family: 'Jenzabar Halflings';
  src: url("~/Fonts/jzb-icon-set.woff") format('woff'), url("~/Fonts/jzb-icon-set.svg") format('svg');
}
