@import "~/Sass/global/variables.scss";

.ant-steps {
  .ant-steps-item-title {
    text-decoration: underline;
  }
  .ant-steps-item-icon {
    border-width: 2px;
    background-color: $primary-color;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $primary-color;
  }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }
  .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
    .ant-steps-item-icon {
      background-color: white;
      .ant-steps-icon {
        color: $primary-color;
      }
    }
    .ant-steps-item-tail::after {
      background-color: $light;
    }
  }
  .ant-steps-item.ant-steps-item-wait {
    .ant-steps-item-icon {
      background-color: white;
      border-color: $light;
      border-width: 1px;
      .ant-steps-icon {
        color: $light;
      }
    }
    .ant-steps-item-title {
      color: $light;
    }
  }
  .ant-steps-item.ant-steps-item-finish {
    .ant-steps-item-container {
      &:hover {
        .ant-steps-icon {
          color: white !important;
        }
      }
    }
  }
}