$text: #333333;
$text-light: #FFFFFF;
$text-disabled: #A9A9A9;
$fill-dark: #333333;
$fill-light: #F6F6F6;
$border-dark: #AAAAAA;
$accent-light: #61D0FF;
$accent-dark: #0077B3;
$interactive: #10069D;
$interactive-active: #0A036C;
$interactive-disabled: #B7B4E4;
$success: #4B8400;
$warning: #A35A00;
$danger: #D7143B;

$black: #000 !default;
$darker: #222 !default;
$dark: #333 !default;
$gray: #555 !default;
$light: #999 !default;
$lighter: #eee !default;
$white: #fff !default;

$purple: #783392 !default;
$yellow: #fcbf14 !default;
$red: #ee395f !default;
$green: #41b468 !default;
$cyan: #74cdda !default;
$gunmetal: #2c3539 !default;

$primaryThemerColor: $red;
$primaryThemeDarkColor: $gunmetal;

$family-sans-serif: "Rubik";
$family-serif: "Georgia", "Cambria", "Times New Roman", "Times", "serif";
$family-base: $family-sans-serif !default;
$primary-color: #10069f;