@import "~/Sass/variables.scss";

.glyphicon {
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;

  &::before {
    position: relative;
    top: -1px;
    right: -1px;
  }

  &--primary {
    color: $interactive;
  }
  &--danger {
    color: $danger;
  }
}

.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-plus-sign:before {
  content: "\E081";
}
.glyphicon-trash:before {
  content: "\E020";
}
.glyphicon-edit:before {
  content: "\270F";
}
.glyphicon-down:before {
  content: "\E114";
}
.glyphicon-setting:before {
  content: "\E019";
}
.glyphicon-th-large:before {
  content: "\E011";
}
.glyphicon-filter:before {
  content: "\E138";
}
