@import "~/Sass/variables.scss";

.glyphicon {
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;

  &::before {
    position: relative;
  }

  &--primary {
    color: $interactive;
  }
  &--danger {
    color: $danger;
  }
}

.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-plus-sign:before {
  content: "\E081";
}
.glyphicon-info-sign:before {
  content: "\E086";
}
.glyphicon-trash:before {
  content: "\E020";
}
.glyphicon-edit:before {
  content: "\270F";
}
.glyphicon-down:before {
  content: "\E114";
}
.glyphicon-setting:before {
  content: "\E019";
}
.glyphicon-th-large:before {
  content: "\E011";
}
.glyphicon-filter:before {
  content: "\E138";
}
.glyphicon-key:before {
  content: "\01F511";
}
.glyphicon-play-circle:before {
  content: "\E029";
}
.glyphicon-search:before {
  content: "\E003";
}
.glyphicon-time:before {
  content: "\E023";
}
.glyphicon-user:before {
  content: "\E008";
}
.glyphicon-remove:before {
  content: "\E014";
}
.glyphicon-exclamation-sign:before {
  content: "\E101";
}
.glyphicon-chevron-right:before {
  content: "\E080";
}
.glyphicon-chevron-left:before {
  content: "\E079";
}
.glyphicon-repeat:before {
  content: "\E030";
}