@font-face {
  font-family: 'AvertaLight';
  src: url("~/Fonts/averta-light.woff") format('woff');
}
@font-face {
  font-family: 'Averta';
  src: url("~/Fonts/averta-regular.woff") format('woff');
}
@font-face {
  font-family: 'AvertaSemiBold';
  src: url("~/Fonts/averta-semibold.woff") format('woff');
}

body {
  background-color: $purple;
  font-family: $family-base;
}

a.reset:focus {
  border: none !important;
  box-shadow: none !important;
}