@import "~/Sass/global/variables.scss";

h2, h3, h5 {
  font-family: AvertaLight;
}

// antd wizard
.ant-steps {
  .ant-steps-item-title {
    text-decoration: underline;
  }
  .ant-steps-item-icon {
    border-width: 2px;
    background-color: $primary-color;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $primary-color;
  }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }
  .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
    .ant-steps-item-icon {
      background-color: white;
      .ant-steps-icon {
        color: $primary-color;
      }
    }
    .ant-steps-item-tail::after {
      background-color: $light;
    }
  }
  .ant-steps-item.ant-steps-item-wait {
    .ant-steps-item-icon {
      background-color: white;
      border-color: $light;
      border-width: 1px;
      .ant-steps-icon {
        color: $light;
      }
    }
    .ant-steps-item-title {
      color: $light;
    }
  }
  .ant-steps-item.ant-steps-item-finish {
    .ant-steps-item-container {
      &:hover {
        .ant-steps-icon {
          color: white !important;
        }
      }
    }
  }
}

// antd table
.ant-table-column-sorters {
  justify-content: flex-start;
  .ant-table-column-title {
    flex: none;
  }
}

.ant-table-column-title, .ant-table-thead > tr > th {
  font-weight: bold;
}

// antd input
.ant-input:focus,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 2px solid !important;
  border-color: $interactive-active !important;
  outline: 0;
  box-shadow: none !important;
}

// antd button, antd dropdown item title
.ant-dropdown-menu-title-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// antd pagination
.ant-pagination-prev, .ant-pagination-next {
  margin-right: 0;
  button {
    color: $interactive;
  }
}
.ant-pagination-item {
  margin-right: 0;
  a {
    text-decoration: none;
    color: $interactive;
  }

  &-active {
    border: none;
    a {
      color: $text;
      font-weight: bold;
      &::before {
        content: '... Page ';
      }
      &::after {
        content: ' ...';
      }
    }
  }
}

// antd form
.ant-form-item-label {
  font-weight: bold;
}
.ant-form-vertical .ant-form-item {
  margin-bottom: 10px;
}