@for $i from 0 through 20 {
  .m-#{$i} {
    margin: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mn-#{$i} {
    margin: -#{$i}px;
  }
  .mtn-#{$i} {
    margin-top: -#{$i}px;
  }
  .mbn-#{$i} {
    margin-bottom: -#{$i}px;
  }
  .mln-#{$i} {
    margin-left: -#{$i}px;
  }
  .mrn-#{$i} {
    margin-right: -#{$i}px;
  }
  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .mxn-#{$i} {
    margin-left: -#{$i}px;
    margin-right: -#{$i}px;
  }
  .myn-#{$i} {
    margin-top: -#{$i}px;
    margin-bottom: -#{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pn-#{$i} {
    padding: -#{$i}px;
  }
  .ptn-#{$i} {
    padding-top: -#{$i}px;
  }
  .pbn-#{$i} {
    padding-bottom: -#{$i}px;
  }
  .pln-#{$i} {
    padding-left: -#{$i}px;
  }
  .prn-#{$i} {
    padding-right: -#{$i}px;
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .pxn-#{$i} {
    padding-left: -#{$i}px;
    padding-right: -#{$i}px;
  }
  .pyn-#{$i} {
    padding-top: -#{$i}px;
    padding-bottom: -#{$i}px;
  }
}

.ml-a {
  margin-left: auto;
}
.mr-a {
  margin-right: auto;
}
.mt-a {
  margin-top: auto;
}
.mb-a {
  margin-bottom: auto;
}

.ma-0 {
  margin: 0 auto;
}
.mb-4rem{
  margin-bottom: 4rem;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-sub {
  vertical-align: sub;
}
.vertical-top {
  vertical-align: top;
}
.vertical-text-bottom {
  vertical-align: text-bottom;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}