$black: #000 !default;
$darker: #222 !default;
$dark: #333 !default;
$gray: #555 !default;
$light: #999 !default;
$lighter: #eee !default;
$white: #fff !default;

$purple: #783392 !default;
$yellow: #fcbf14 !default;
$red: #ee395f !default;
$green: #41b468 !default;
$cyan: #74cdda !default;
$gunmetal: #2c3539 !default;

$primaryThemerColor: $red;
$primaryThemeDarkColor: $gunmetal;

$family-sans-serif: "Rubik";
$family-serif: "Georgia", "Cambria", "Times New Roman", "Times", "serif";
$family-base: $family-sans-serif !default;
